<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Honey Files by Threat Stack, Inc</title>

    <link rel='stylesheet' href='/stylesheets/honey-files.css' />
</head>
<body>

    {{{body}}}

</body>
</html>
