<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Honey Files by Threat Stack, Inc</title>

    <link rel='stylesheet' href='/stylesheets/honey-files.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/color.js"></script>
</head>
<body>

    {{{body}}}

    <script>

      var items = [
        '#435A6B',
        '#1594c2',
        '#1f9a53',
        '#b84847',
        '#274EC9'
      ];

      var changeColor = function(color) {
        $('body').stop().animate({
          backgroundColor: color
        }, 1000, function() {
          var newColor = items[Math.floor(Math.random()*items.length)];
          while (newColor === color) {
            var newColor = items[Math.floor(Math.random()*items.length)];
          };
          setTimeout(function() {
            changeColor(newColor);
          }, 2000);
        });
      };

      setTimeout(function() {
        changeColor(items[Math.floor(Math.random()*items.length)]);
      }, 1000);

    </script>
</body>
</html>
