<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>

    <link rel='stylesheet' href='/stylesheets/honey-files.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/honey-files.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>
