<div class="content-header">
  
  <div class="title">
    <i class="icon-tasks"></i>
    Campaigns

  </div>

  <div class="content-options">
    <a class="button create-new-campaign" href="#">
      <i class="icon-plus"></i>
      New Campaign
    </a>
  </div>

</div>
