<div class="content-header">
  
  <div class="title">
    <i class="icon-plus"></i>
    New Campiagn

  </div>
</div>

<div class="data more">

  <form action="" method="get" accept-charset="utf-8">
  </form>

  <form action="/campaigns/create" class='test' method="post" accept-charset="utf-8">
    <div class="form-group">
      <label for="new-campaign">Campaign Name</label>
      <input placeholder="Example: Dropbox Files" id="campaign-name" class='' type="text" name="name">
    </div>

    <div class='form-actions'>
      <input type="submit" class='button default' value="Create Campaign">
      <button class='button' onClick='window.location = "/campaigns"; return false;'>Cancel</button>
    </div>
  </form>

</div>
