<div class="popup-box">

  <div class='popup-box-title'>
    <i class='icon-plus'></i>
    New Campaign
  </div>

  <div class="popup-box-content">

    <p class='popup-box-text'>

      <div class="form-group">
        <label for="new-campaign">Campaign Name</label><br />
        <input placeholder="Dropbox Files" id="campaign-name" class='dark' type="text" name="new-campaign">
      </div>

    </p>

  </div>

  <div class="popup-box-footer">

    <div class='form-actions'>
      <button class='button default limp-action'>Create Campaign</button>
      <button class='button' onClick='$.limpClose()'>Cancel</button>
    </div>

  </div>

</div>
